<div class="form-container">
  <div class="form-inputs">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
      <h2 style="text-align: center">Edit your information:</h2>
       <%= f.input :email, required: true, autofocus: true %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <h4>Update Password</h4>
        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, label: "New password" %>
        <%= f.input :password_confirmation, required: false, label: "Confirm new password" %>
        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, label: "Old password" %>
      </div>
       <div class="form-inputs">
        <h5><strong>Upload an avatar</strong></h5>
        <%= f.attachinary_file_field :avatar %>
      </div>
  </div>

      <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn-feiy-primary btn-form"%>
      <% end %>
      </div>
      <h4>Unhappy?</h4>


      <p><%= link_to "Cancel my account", registration_path(resource_name), class: "for-form-cancel-account", data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
</div>



