<%= cloudinary_js_config %>
<% title "High-impact initiatives in China" %>

<!-- Welcome Banner -->
<div class="wrapper index-search-wrapper">
  <div class='submit_article_to_us'>
    <p><a href="mailto:hi@feiy.co?subject=Submit an article">Submit an article to feiy.co!</a></p>
  </div>
  <div class="index-search-header">
    <div class="index-search-header-welcome text-center">
      <h1>Be the change!</h1>
    </div>
    <div class="tagline-welcome text-center">
      <h3>Connect with high-impact initiatives in China and create sustainable change</h3>
    </div>
  </div>
  <!-- Search bar -->
  <div id="home-search">
    <%= render 'articles/search_bar'%>
  </div>
</div>


<!-- ORGANIZATIONS SEARCH RESULTS -->
<div class="container">
<!--   <div class="row">
    <div class='col-xs-12 col-sm-12 col-md-12'>

    </div>
  </div> -->
  <div class="row">
  <% if @main_article %>
    <%if @main_article.photo %>
      <% background_style = "background: url(#{cl_image_path(@main_article.photo.path, :width=>700, :height=>410, :crop=>"fill")}) no-repeat;background-size: cover;"%>
    <% else %>
      <% background_style = "background: url(card_org_ngo_default.jpg) no-repeat;background-size: cover;"%>
    <% end %>
    <%= content_tag :div, class: 'col-xs-12 col-sm-12 col-md-12' do %>
      <%= content_tag :div, class: 'main-article-card', style:background_style do %>
        <% if @main_article.photo %>
        <% else %>
          <%= image_tag "card_org_ngo_default.jpg", class: "organization-card-img" %>
        <% end %>
        <div class="main-article-description">
          <p class="article-category"><%= @main_article.tags.first&.name&.capitalize %></p>
          <p class="main-article-title"><strong><%= @main_article.title %></strong></p>
          <p class="main-article-title-description"><%= truncate(@main_article.description, length: 100) %></p>
        </div>
        <div class="article-icons">
          <i class="fa fa-heart main-article-icon"></i>
          <span class="main-article-icon-text"><%= @main_article.votes_for.size %></span>
          <i class="fa fa-commenting main-article-icon"></i>
          <span class="main-article-icon-text"><%= @main_article.votes_for.size %></span>
        </div>
        <%= link_to "", article_path(@main_article), class: "article-link" %>
      <% end %>
     <%end%>
    <%end%>
    <% @articles.each_with_index do |article, index| %>
        <%= content_tag :div, class: 'col-xs-12 col-sm-6 col-md-6' do %>
          <%= content_tag :div, class: 'article-card-medium' do %>
            <% if article.photo %>
              <img src="<%= cl_image_path(article.photo.path, :width=>700, :height=>250, :crop=>"fill")%>" class='article-img' %> tag="<%= article.title %>" >
            <% else %>
              <%= image_tag "card_org_ngo_default.jpg", class: "article-img" %>
            <% end %>
            <div class="article-description">
              <p class="article-category"><%= article.tags.first&.name&.capitalize %></p>
              <p class="article-title"><strong><%= article.title %></strong></p>
              <p class="article-title-description"><%= truncate(article.description, length: 100) %></p>
            </div>
            <div class="article-icons">
              <i class="fa fa-heart article-icon"></i>
              <span class="article-icon-text"><%= article.votes_for.size %></span>
              <i class="fa fa-commenting article-icon"></i>
              <span class="article-icon-text"><%= article.votes_for.size %></span>
            </div>
            <%= link_to "", article_path(article), class: "article-link" %>
          <% end %>
      <% end %>
    <%end%>
    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
      <%= paginate @articles %>
    </div>
  </div>
</div>
