<%= simple_form_for [@organization, @job] do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address, label: "Location" %>
    <%= f.input :website %>
    <%= f.input :email, label: "Recruiter's email"%>
    <%= f.input :job_type, label: "Type", collection: %w(Volunteer Internship Part-time Full-time) %>
    <%= f.input :task, label: "Job description", as: :text, :input_html => { :maxlength => 500, :style => 'height: 200px' } %>
    <%= f.input :requirement, label: "Requirements", as: :text, :input_html => { :maxlength => 500, :style => 'height: 200px' } %>
    <h5><strong>Job Status</strong></h5>
    <%= f.collection_radio_buttons :active, [[true, 'Open'], [false, 'Closed']], :first, :last %>
  </div>
  <div class="form-actions">
    <%= f.submit "Submit", class: "btn btn-feiy-primary" %>
  </div>
<% end %>
