<div class="form-container">
<h2>Add a new job</h2>
  <%= simple_form_for [@organization, @job] do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :website %>
    <%= f.input :email %>
    <%= f.input :job_type, collection: %w(Volunteer Internship Part-time Full-time) %>
    <%= f.input :task, as: :text, :input_html => { :maxlength => 500, :style => 'height: 200px' } %>
    <%= f.input :requirement, as: :text, :input_html => { :maxlength => 500, :style => 'height: 200px' } %>
    <h5><strong>Job Status</strong></h5>
    <%= f.collection_radio_buttons :active, [[true, 'Open'], [false, 'Closed']], :first, :last %>
  </div>
  <div class="form-actions">
    <%= f.submit "Add Job", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
