<% title @job.name.capitalize %>

<div class="col-xs-12">
<div class="container">
  <div class="row">
      <div class="card">
        <div class="card-logo">
        <% if @job.organization.logo == true %>
          <%= cl_image_tag @job.organization.logo.path, :width=>200, :height=>100, :crop=>"fit", :secure=>true %></div>
        <% else %>
           </div>
        <% end %>

        <div class="card-description">
          <h4><%= @job.organization.name %></h4>
          <h2><%= @job.name %></h2>
          <p><%= @job.job_type %></p>
          <p><%= @job.address %></p>
          <p>Status: <%= @job.active ? "open" : "closed" %></p>
        </div>
      </div>
      <br>
      <div class="text-center">
        <% if user_signed_in? && @organization.user_id == current_user.id %>
          <%= link_to "Update", edit_organization_job_path(@job.organization_id, @job), method: :get, class: 'btn btn-feiy-organization-action'  %>
          <%= link_to "Delete", organization_job_path(@job.organization_id, @job), method: :delete, class: 'btn btn-feiy-organization-action' %>
        <% end %>
      </div>
      <div class="sub-header-card-jobs">
        <div class="sub-header-card-description-jobs text-justify">
          <h4>Our Mission</h4>
          <p><%= @job.organization.description %></p>
          <br>
          <h4>The Position</h4>
          <p><%= @job.task %></p>
          <br>
          <h4>Requirements / Skills</h4>
          <p><%= @job.requirement %></p>
          <br>
          <h4>How to Apply</h4>
          <p>Website: <%= @job.website %></p>
          <p>Email: <%= @job.email %></p>
        </div>
      </div>

    </div>
  </div>
</div>


