<div id="footer">
  <div id="wechat-qrcode">
    <a href="javascript:void(0);">
      <i class="fa fa-wechat"></i>
      <%= image_tag "qrcode.jpg" %>
    </a>
  </div>

  <div class="footer-links">
    <%= link_to "Home", root_path %>
    <%= link_to "About us", about_us_path %>
    <%= mail_to "hi@feiy.co", "Contact" %>
  </div>
  <%= link_to "The Starter Institute", "http://thestarterinstitute.strikingly.com" %>
  <p>© Feiy 2017 - All rights reserved</p>
</div>


