<div id="footer">
  <div class='row'>

    <div class="col-md-2">
      <div id="wechat-qrcode">
        <a href="javascript:void(0);">
          <i class="fa fa-wechat"></i>
          <%= image_tag "feiy-qrcode.jpg" %>
        </a>
      </div>
    </div> 

    <div class="col-md-2">
      <div id="linkedin">
        <a href="https://www.linkedin.com/company/feiy/">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div> 

    <div class="col-md-2">
      <div id="facebook">
        <a href="https://www.facebook.com/Feiy.co/?hc_ref=ARR-mAekQOYZyDhU8XnEI_q0sUzFx6eJU6D0aqWJhoBUfMyOttstQ0TaGFAWGG30Rlk">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
    </div>

    <div class="col-md-2">
      <div id="twitter">
        <a href="https://twitter.com/FeiyChina">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>

    <div class="col-md-2">
      <div id="instagram">
        <a href="https://www.instagram.com/feiy_impactlife/">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>

    <div class="col-md-2">
      <div id="weibo">
        <a href="https://www.weibo.com/u/6286382803">
          <i class="fa fa-weibo"></i>
        </a>
      </div>
    </div>
  </div>
  

  <div class="footer-links">
    <%= link_to "Home", root_path %>
    <%= link_to "About us", about_us_path %>
    <%= mail_to "hi@feiy.co", "Contact" %>
  </div>
  <%= link_to "The Starter Institute", "http://thestarterinstitute.strikingly.com" %>
  <p>© Feiy 2017 - All rights reserved</p>
</div>


