<div class="navbar-wagon">
  <%= link_to root_path, class: "navbar-feiy-logo" do %>
    <%= image_tag "feiylogo.png" %>
  <% end %>
  <div class="list-inline hidden-xs" id="list-left">
    <div class="inline-block">
    <%= link_to "Jobs", jobspool_path, class: "jobs-linkto" %>
    </div>
    <div class="inline-block">
    <%= link_to "Events", event_show_path, class: "events-linkto" %>
    </div>
    <div class="inline-block">
    <%= link_to "Organizations", root_path, class: "organizations-linkto" %>
    </div>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->

    <!-- Text link -->

    <!-- Text link -->

    <!-- Profile picture and dropdown -->
  <div class="navbar-wagon-item">
    <div class="dropdown">
    <% if user_signed_in? && current_user.organizations.count > 0 %>
      <div class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <% if current_user.avatar? %>
          <%= cl_image_tag(current_user.avatar.path, { size: '40x40', crop: :thumb, gravity: :face, dpr: 2.0 }) %>
        <% else %>
          <%= image_tag("profile_placeholder.png", size: '40x40') %>
        <% end %>
      </div>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Edit Account", edit_user_registration_path %></li>
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% elsif user_signed_in? && current_user.organizations.count == 0 %>
      <div class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <% if current_user.avatar? %>
          <%= cl_image_tag(current_user.avatar.path, { size: '40x40', crop: :thumb, gravity: :face, dpr: 2.0 }) %>
        <% else %>
          <%= image_tag("profile_placeholder.png", size: '40x40') %>
        <% end %>
      </div>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Edit Account", edit_user_registration_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      </ul>
      <% else %>
        <ul class="list-inline" id="right-link">
          <li><%= link_to "Sign up", new_user_registration_path, class: "signup-linkto" %></li>
          <li><%= link_to "Sign in", new_user_session_path, class: "signin-linkto" %></li>
        </ul>
    <% end %>
    </div>
  </div>


  <!-- Button (call-to-action) -->
  <!-- Problem this flash alert also appears when I am not trying to create a fourth og -->
  <% if user_signed_in? && current_user.organizations.count < 3 %>
    <%= link_to "Create Organization", new_organization_path, class: "btn-feiy-primary" %>
  <% elsif user_signed_in? && current_user.organizations.count >= 3 %>
    <%= link_to "Create Organization", dashboard_path, class: "btn-feiy-primary" %>
    <% flash[:alert] = "It seems you already have a maximun of 3 organizations" %>
  <% else %>
    <%= link_to "Create Organization", new_organization_path, class: "btn-feiy-primary" %>
  <% end %>
</div>




  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
    <% if user_signed_in? && current_user.organizations.count > 0 %>
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Edit Account", edit_user_registration_path %></li>
          <li><%= link_to "Dashboard", dashboard_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>
    <% elsif user_signed_in? && current_user.organizations.count == 0 %>
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Edit Account", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>
    <% else %>
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        </ul>
    <% end %>
    </div>
  </div>
</div>
