<div class="navbar-wagon">
  <!-- Logo -->
<!--   <a href="/" class="navbar-wagon-brand">
    <img src="images/feiylogo.png" />

  </a> -->
<%= link_to root_path, class: "navbar-feiy-logo" do %>
  <%= image_tag "feiylogo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->

    <!-- Text link -->

    <!-- Text link -->

    <!-- Profile picture and dropdown -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
      <% if user_signed_in? && current_user.organizations.count > 0 %>
          <%= link_to "Organizations", "", class: "navbar-organizations"  %>
        <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><%= link_to "Dashboard", dashboard_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>

      <% elsif user_signed_in? && current_user.organizations.count == 0 %>
          <%= link_to "Organizations", "", class: "navbar-organizations"  %>
        <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>

        <% else %>
          <ul class="list-inline">
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          </ul>
      <% end %>
      </div>
    </div>

    <!-- Button (call-to-action) -->
  <%= link_to "Create Organization", new_organization_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>


  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
