<div class="form-container">
<h2>Edit event information</h2>
  <%= simple_form_for [@organization, @event] do |f| %>
  <div class="form-inputs">
    <%= f.input :name, autofocus: true %>
    <%= f.input :content, label: "Description", as: :text, :input_html => { :maxlength => 750, :style => 'height: 350px' } %>
    <%= f.input :venue, label:"Location - recommend address in chinese" %>
    <%= f.input :date %>
    <%= f.input :register_link %>
  </div>

    <% if user_signed_in? && @organization.user_id == current_user.id %>
    <div class="form-actions">
    <%= f.submit "Update event", class: "btn btn-feiy-primary" %>
    <% end %>
    </div>
  <% end %>
</div>
