<div class="form-container">
<h2>Add a new event</h2>
  <%= simple_form_for [@organization, @event] do |f| %>
  <div class="form-inputs">
    <%= f.input :name, autofocus: true %>
    <%= f.input :content, id: 'description-text' ,label: "Description", as: :text, :input_html => { :maxlength => 700, :style => 'height: 350px' } %>
    <%= f.input :venue, label:"Location - recommend address in chinese" %>
    <%= f.input :date %>
    <%= f.input :register_link %>
    <%= f.input :flyer, label: "Event flyer", as: :attachinary %>
  </div>
  <div class="form-actions">
    <%= f.submit "Add event", class: "btn btn-feiy-primary" %>
  </div>
  <% end %>
</div>
