<div id="filterrific_results">
<% @jobs.each do |job| %>
<div class="col-xs-12 col-sm-6 col-md-4">
<div itemscope itemtype="http://schema.org/jobPosting" class="job-card">
<% if job.organization.logo %>
<img src="<%= cl_image_path job.organization.logo.path, height: 180, width: 350, crop: :fill%>", class='job-card-img' >
<% else %>
<%= image_tag "card_org_ngo_default.jpg", class: "job-card-img" %>
<% end %>
<div class="job-card-description">
<p itemprop="title" id="job-name"><strong><%= truncate(job.name, length: 20) %></strong></p>
<p itemprop="hiringOrganization" id="job-problem"><%= truncate(job.organization.name, length: 20) %></p>
<p itemprop="employmentType" id="job-category"><%= truncate(job.job_type, length: 20) %></p>
<p itemprop="jobLocation" itemscope itemtype="http://schema.org/Place" id="job-category"><span itemprop="address"><%= truncate(job.address, length: 20) %></span></p>
</div>
<%= link_to "", organization_job_path(job.organization.slug, job.slug) , class: "organization-card-link" %>
</div>
</div>
<% end %>
</div>
