<h1>Your Organizations</h1>


<% @organizations.each do |organization| %>
<h2><%= organization.name %></h2>
<h3><%= organization.description %></h3>
<p><%= organization.website %></p>
<p><%= organization.address %></p>
<%= link_to "Edit Info", edit_organization_path(organization), class: "btn btn-primary"  %>
<% end %>


<hr>

<br>
<h1>Your Events</h1>
<br>
<h2>Cards go here</h2>
<br>

<hr>

<h1>Your followers</h1>
<br>
<h2>Follower avatars here</h2>
<br>
