<h1>Your Organizations</h1>


<% @organizations.each do |organization| %>
<% if organization.logo? %>
  <%= cl_image_tag organization.logo.path, width: 100, height: 100, crop: :fill %>
<% end %>
<h2><%= organization.name %></h2>
<h3><%= organization.description %></h3>
<p><%= organization.website %></p>
<p><%= organization.address %></p>
<% if organization.photo %>
    <%= cl_image_tag organization.photo.path, width: 300, height: 200, crop: :fill %>
<% end %>
<%= link_to "Edit Info", edit_organization_path(organization), class: "btn btn-primary"  %>
<% end %>

<div class="container buttons-container">
  <%= link_to "Jobs", root_path, class: "btn btn-success" %>
  <!-- This button leads to a JOBS CREATE -->
  <%= link_to "Events", root_path, class: "btn btn-info" %>
  <!-- This button leads to a EVENTS CREATE -->
</div>

<h1 class="title-divider text-center">Your Events</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="events-card text-center">
        <%= link_to "", event_show_path, class: "card-link" %>
        <%= image_tag "card_picture1_ok.jpg", class: "event-card-img" %>
        <div class="event-card-text">
          <h3><strong>Clothes Donation</strong></h3>
          <h5>JingAn Temple Friends</h3>
          <p>Donate clothes to people in need</p>
          <p><strong>Date:</strong> 25/04/2017</p>
          <p><strong>Location:</strong> 32 Nanjing Xi Lu, Shanghai</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="events-card text-center">
        <%= link_to "", event_show_path, class: "card-link" %>
        <%= image_tag "card_picture2_ok.jpg", class: "event-card-img" %>
        <div class="event-card-text">
          <h3><strong>Benefic Rock Festival</strong></h3>
          <h5>Green Leaf Society</h3>
          <p>Help raise money for a good cause</p>
          <p><strong>Date:</strong> 30/04/2017</p>
          <p><strong>Location:</strong> 323 Wulumuqi Lu, Shanghai</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="events-card text-center">
        <%= link_to "", event_show_path, class: "card-link" %>
        <%= image_tag "card_picture3_ok.jpg", class: "event-card-img" %>
        <div class="event-card-text">
          <h3><strong>Clothes Donation</strong></h3>
          <h5>High Five</h3>
          <p>Visit kids in the shanghai hospital</p>
          <p><strong>Date:</strong> 14/05/2017</p>
          <p><strong>Location:</strong> 13 Shifu lu, Shanghai</p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<h1>Your followers</h1>
<br>
<h2>Follower avatars here</h2>
<br>
