<h1>Your Organizations</h1>
<% @organizations.each do |organization| %>
<h2><%= organization.name %></h2>
<h3><%= organization.description %></h3>
<p><%= organization.website %></p>
<p><%= organization.address %></p>
<%= link_to "Edit Info", edit_organization_path(organization), class: "btn btn-primary"  %>
<% end %>

<div class="container buttons-container">
  <%= link_to "Jobs", root_path, class: "btn btn-success" %>
  <!-- This button leads to a JOBS CREATE -->
  <%= link_to "Events", root_path, class: "btn btn-info" %>
  <!-- This button leads to a EVENTS CREATE -->
</div>

<hr>

<br>
<h1>Your Events</h1>
<br>
<h2>Cards go here</h2>
<br>

<hr>

<h1>Your followers</h1>
<br>
<h2>Follower avatars here</h2>
<br>
