<!-- this page wouldn't be needed -->

<h2 class="developers-title text-center">Meet the development team</h2>

<div class="about-developers container text-center">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-2">
        <div class="developer-card">
          <div><%= image_tag "dounan-hu.png", class: "dev_avatar" %></div>
          <div class="developer-card-info">
            <h5>Dounan <br>Hu</h5>
            <div class="dev-social">
              <%= link_to "https://www.linkedin.com/in/dounanhu/", :target => "_blank"  do %>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              <% end %>
              <%= link_to "https://github.com/dounan1", :target => "_blank"  do %>
                <i class="fa fa-github-square" aria-hidden="true"></i>
              <% end %>
              <%= image_tag "flag-can.png", class: "dev_flag" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <div class="developer-card">
          <div><%= image_tag "patricia-wiesker.png", class: "dev_avatar" %></div>
          <div class="developer-card-info">
            <h5>Patricia <br>Wiesker</h5>
            <div class="dev-social">
              <%= link_to "https://www.linkedin.com/in/patricia-sofia-wiesker", :target => "_blank"  do %>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              <% end %>
              <%= link_to "https://github.com/PatriciaWiesker", :target => "_blank"  do %>
                <i class="fa fa-github-square" aria-hidden="true"></i>
              <% end %>
              <%= image_tag "flag-ger.png", class: "dev_flag" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <div class="developer-card">
          <div><%= image_tag "jason-chee.png", class: "dev_avatar" %></div>
          <div class="developer-card-info">
            <h5>Jason <br>Chee</h5>
            <div class="dev-social">
              <%= link_to "https://www.linkedin.com/in/jason-chee-627567b1/", :target => "_blank"  do %>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              <% end %>
              <%= link_to "https://github.com/jschee", :target => "_blank"  do %>
                <i class="fa fa-github-square" aria-hidden="true"></i>
              <% end %>
              <%= image_tag "flag-usa.png", class: "dev_flag" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <div class="developer-card">
          <div><%= image_tag "stephane-delgado.png", class: "dev_avatar" %></div>
          <div class="developer-card-info">
            <h5>Stephane <br>Delgado</h5>
            <div class="dev-social">
              <%= link_to "https://www.linkedin.com/in/stephanedelgado/", :target => "_blank"  do %>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              <% end %>
              <%= link_to "https://github.com/stephanedelgado", :target => "_blank"  do %>
                <i class="fa fa-github-square" aria-hidden="true"></i>
              <% end %>
              <%= image_tag "flag-che.png", class: "dev_flag" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <div class="developer-card">
          <div><%= image_tag "sebastian-nugnez.png", class: "dev_avatar" %></div>
          <div class="developer-card-info">
            <h5>Sebastian <br>Nugnez</h5>
            <div class="dev-social">
              <%= link_to "https://www.linkedin.com/in/snugnez/", :target => "_blank"  do %>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              <% end %>
              <%= link_to "https://github.com/Sebachowa", :target => "_blank"  do %>
                <i class="fa fa-github-square" aria-hidden="true"></i>
              <% end %>
              <%= image_tag "flag-arg.png", class: "dev_flag" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-2">
        <div class="developer-card">
          <div><%= image_tag "marc-bacani.png", class: "dev_avatar" %></div>
          <div class="developer-card-info">
            <h5>Marc <br>Bacani</h5>
            <div class="dev-social">
              <%= link_to "https://www.linkedin.com/in/marcctbacani/", :target => "_blank"  do %>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              <% end %>
              <%= link_to "https://github.com/marcctbacani", :target => "_blank"  do %>
                <i class="fa fa-github-square" aria-hidden="true"></i>
              <% end %>
              <%= image_tag "flag-usa.png", class: "dev_flag" %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
