<h1 class="developers-title text-center">Meet the people involve in the development of this platform</h1>
  <div class="about-developers container text-center">
    <div class="developer-card">
      <%= image_tag "dounan_big.png", class: "dev_avatar" %>
      <div class="developer-card-info">
        <h5>Dounan Hu</h5>
        <%= image_tag "ca.png", class: "dev_flag" %>
        <div class="dev-social">
          <%= link_to "https://www.linkedin.com/in/dounanhu/", :target => "_blank"  do %>
            <%= image_tag "social-linkedin.png", class: "dev_social-img" %>
          <% end %>
          <%= link_to "https://github.com/dounan1", :target => "_blank"  do %>
            <%= image_tag "social-github.png", class: "dev_social-img" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="developer-card">
      <%= image_tag "patricia_big.png", class: "dev_avatar" %>
      <div class="developer-card-info">
        <h5>Patricia Wiesker</h5>
        <%= image_tag "de.png", class: "dev_flag" %>
        <div class="dev-social">
          <%= link_to "https://www.linkedin.com/in/patricia-sofia-wiesker", :target => "_blank"  do %>
            <%= image_tag "social-linkedin.png", class: "dev_social-img" %>
          <% end %>
          <%= link_to "https://github.com/PatriciaWiesker", :target => "_blank"  do %>
            <%= image_tag "social-github.png", class: "dev_social-img" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="developer-card">
      <%= image_tag "jason_big.png", class: "dev_avatar" %>
      <div class="developer-card-info">
        <h5>Jason Chee</h5>
        <%= image_tag "us.png", class: "dev_flag" %>
        <div class="dev-social">
          <%= link_to "https://www.linkedin.com/in/jason-chee-627567b1/", :target => "_blank"  do %>
            <%= image_tag "social-linkedin.png", class: "dev_social-img" %>
          <% end %>
          <%= link_to "https://github.com/jschee", :target => "_blank"  do %>
            <%= image_tag "social-github.png", class: "dev_social-img" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="developer-card">
      <%= image_tag "stephane_big.png", class: "dev_avatar" %>
      <div class="developer-card-info">
        <h5>Stephane Delgado</h5>
        <%= image_tag "sw.png", class: "dev_flag" %>
        <div class="dev-social">
          <%= link_to "https://www.linkedin.com/in/stephanedelgado/", :target => "_blank"  do %>
            <%= image_tag "social-linkedin.png", class: "dev_social-img" %>
          <% end %>
          <%= link_to "https://github.com/stephanedelgado", :target => "_blank"  do %>
            <%= image_tag "social-github.png", class: "dev_social-img" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="developer-card">
      <%= image_tag "seba_big.png", class: "dev_avatar" %>
      <div class="developer-card-info">
        <h5>Sebastian Nugnez</h5>
        <%= image_tag "ar.png", class: "dev_flag" %>
        <div class="dev-social">
          <%= link_to "https://www.linkedin.com/in/snugnez/", :target => "_blank"  do %>
            <%= image_tag "social-linkedin.png", class: "dev_social-img" %>
          <% end %>
          <%= link_to "https://github.com/Sebachowa", :target => "_blank"  do %>
            <%= image_tag "social-github.png", class: "dev_social-img" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
