<div class="about-developers container text-center">
  <h1>Meet the people involve in the development of this platform</h1>
  <%= image_tag "dou.png" %>
  <%= image_tag "pat.png" %>
  <%= image_tag "jas.png" %>
  <%= image_tag "ste.png" %>
  <%= image_tag "seb.png" %>
</div>
