<!-- Welcome Banner -->
<div class="wrapper" id="welcome-wrapper">
  <%= render 'shared/navbar' %>
  <div class="header">
  <div class="header-welcome">
    <h1>Be the change!</h1>
  </div>
  <div class="tagline-welcome">
    <h3>Connect with high-impact initiatives in China and create sustainable change</h3>
  </div>
  <% unless user_signed_in? %>
  <%= link_to "Sign in", new_user_session_path, class: "btn-feiy-primary button-cta-primary" %>
  <% end %>
  </div>

  <!-- SEARCH -->
  <div class="results-search">
    <p>Find an organization</p>
    <%= form_tag organizations_search_path, method: :get do |f| %>
      <%= text_field_tag 'name', params[:name], placeholder: "  Search", class: "text-search-field" %>
      <%= select_tag 'category', options_for_select(@categories_all), class: "text-search-dropdown" %>
      <%= submit_tag 'Search', class: "btn-feiy-rec-white"%>
    <% end %>
    <%= link_to "See all Organizations", organizations_path, id: "search-all-organizations" %>
  </div>
</div>


<!-- ORGANIZATIONS -->
<% if @organizations.any? %>
  <div class="title-divider text-center">
    <h4>ORGANIZATIONS</h4>
  </div>
  <div class="container">
    <div class="row">
      <% @organizations.take(3).shuffle.each do |organization| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="organization-card">
          <% if organization.photo %>
            <img src="<%= cl_image_path organization.photo.path, height: 180, width: 350, crop: :fill%>", class='organization-card-img' >
          <% else %>
            <%= image_tag "card_org_ngo_default.jpg", class: "organization-card-img" %>
          <% end %>
          <div class="organization-card-description">
            <% if organization.category %>
              <p id="organization-category"><%= truncate(organization.category.upcase) %></p>
            <% end %>
            <p id="organization-name"><strong><%= truncate(organization.name) %></strong></p>
            <p id="organization-problem"><%= truncate(organization.problem, length: 55, omission: '... (continued)') %></p>
          </div>
          <div class="organization-card-icons">
            <i class="fa fa-thumbs-up organization-card-icon"></i>
            <span class="organization-card-icon-text"><%= organization.votes_for.size %></span>
          </div>
          <%= link_to "", organization_path(organization), class: "organization-card-link" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row button-row">
      <div class="col-xs-12">
        <%= link_to "More organizations", organizations_path, class: "btn-feiy-primary button-cta-primary" %>
      </div>
    </div>
  </div>
<% else %>
<div class="wrapper" id="call-to-action-wrapper">
  <%= link_to "JOIN US NOW!", new_organization_path, class: "btn-feiy-primary button-cta-primary" %>
</div>
<% end %>


<!-- JOBS -->
<% if @jobs.any? %>
  <div class="title-divider text-center" id="title-padding" >
    <h4>JOBS</h4>
  </div>
  <div class="container">
    <div class="row">
      <% @jobs.take(3).shuffle.each do |job| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="job-card">
          <% if job.organization.logo %>
            <img src="<%= cl_image_path job.organization.logo.path, height: 180, width: 350, crop: :fill%>", class='job-card-img' >
          <% else %>
            <%= image_tag "card_org_ngo_default.jpg", class: "job-card-img" %>
          <% end %>
          <div class="job-card-description">
            <p id="job-name"><%= truncate(job.name) %></p>
            <p id="job-problem"><%= truncate(job.organization.name)%></p>
            <p id="job-category"><%= truncate(job.job_type)%></p>
            <p id="job-category"><%= truncate(job.address) %></p>
          </div>
           <%= link_to "", organization_job_path(job.organization_id, job.id) , class: "organization-card-link" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row button-row">
      <div class="col-xs-12">
        <%= link_to "More jobs", jobs_path, class: "btn-feiy-primary button-cta-primary" %>
      </div>
    </div>
  </div>
<% end %>


<!-- EVENTS -->
<% if @events.any? %>
  <div class="title-divider text-center" id="title-padding" >
    <h4>EVENTS</h4>
  </div>
  <div class="container">
    <div class="row">
      <% @events.take(6).each  do |event| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="event-card">
          <% if event.organization.logo %>
            <img src="<%= cl_image_path event.organization.logo.path, height: 180, width: 350, crop: :fill%>", class='events-card-img' >
          <% else %>
            <%= image_tag "card_org_ngo_default.jpg", class: "events-card-img" %>
          <% end %>
            <div class="events-card-description">
              <p id="job-problem"><%= truncate(event.name) %></p>
              <p id="job-category"><%= truncate(event.date.strftime("%B %e, %Y, %l:%M %p ")) %></p>
            </div>
            <p class="event-hover-card text-center" id="event-name">Hosted by <%= event.organization.name %><br><br><%= truncate(event.content)%></p>
            <%= link_to "", organization_event_path(event.organization_id, event.id), class: "organization-card-link" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row button-row">
      <div class="col-xs-12">
        <%= link_to "More events", events_path, class: "btn-feiy-primary button-cta-primary" %>
      </div>
    </div>
  </div>
<% end %>

<!-- FEATURES -->
<div id="features-img">
  <div class="title-divider text-center">
    <h4 class="feiy-feature-title">HOW FEIY WORKS</h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="features text-center">
          <%= image_tag "home-features-search.png", class: "feiy-feature-img" %>
          <div class="feiy-feature-text">
            <h4>EXPLORE</h4>
            <h5>Be inspired & discover the actors of change</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features text-center">
          <%= image_tag "home-features-book.png", class: "feiy-feature-img" %>
          <div class="feiy-feature-text">
            <h4>JOBS</h4>
            <h5>Find good jobs & start a meaningful career</h5>
          </div>
        </div>
      </div>
       <div class="col-xs-12 col-sm-4">
        <div class="features text-center">
          <%= image_tag "home-features-like.png", class: "feiy-feature-img" %>
          <div class="feiy-feature-text">
            <h4>EVENTS</h4>
            <h5>Go to events & meet like minded people</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Bottomer Wrapper -->
<% unless user_signed_in? %>
  <div class="wrapper" id="call-to-action-wrapper">
    <%= link_to "JOIN US NOW!", new_organization_path, class: "btn-feiy-primary button-cta-primary" %>
  </div>
<% end %>
