<!-- Welcome Banner -->
<div class="wrapper" id="welcome-wrapper">
  <div class=header>
    <div class="header-welcome">
      <h1>Change the World</h1>
    </div>
    <div class="tagline-welcome">
      <h2>Connect with High Impact Organizations in China</h2>
    </div>
  </div>
</div>

<!-- JOBS -->
<div class="cards-wrapper">
<div class="title-divider text-center" id="title-padding" >
  <h2>JOBS</h2>
</div>
<div class="container">
  <div class="row">
    <% @jobs.each do |job| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="organization-card">
        <div class="organization-card-description">
          <p id="organization-name"><strong><%= job.name %></strong></p>
          <p id="organization-problem"><%= job.job_type%></p>
          <p id="organization-category"><%= job.address %></p>
        </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
</div>



<!-- EVENTS -->
<div class="cards-wrapper">
<div class="title-divider text-center" id="title-padding" >
  <h2>EVENTS</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="events-card text-center">
        <%= link_to "", event_show_path, class: "card-link" %>
        <%= image_tag "card_picture1_ok.jpg", class: "event-card-img" %>
        <div class="event-card-text">
          <h3><strong>Clothes Donation</strong></h3>
          <h5>JingAn Temple Friends</h3>
          <p>Donate clothes to people in need</p>
          <p><strong>Date:</strong> 25/04/2017</p>
          <p><strong>Location:</strong> 32 Nanjing Xi Lu, Shanghai</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="events-card text-center">
        <%= link_to "", event_show_path, class: "card-link" %>
        <%= image_tag "card_picture2_ok.jpg", class: "event-card-img" %>
        <div class="event-card-text">
          <h3><strong>Benefic Rock Festival</strong></h3>
          <h5>Green Leaf Society</h3>
          <p>Help raise money for a good cause</p>
          <p><strong>Date:</strong> 30/04/2017</p>
          <p><strong>Location:</strong> 323 Wulumuqi Lu, Shanghai</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="events-card text-center">
        <%= link_to "", event_show_path, class: "card-link" %>
        <%= image_tag "card_picture3_ok.jpg", class: "event-card-img" %>
        <div class="event-card-text">
          <h3><strong>Clothes Donation</strong></h3>
          <h5>High Five</h3>
          <p>Visit kids in the shanghai hospital</p>
          <p><strong>Date:</strong> 14/05/2017</p>
          <p><strong>Location:</strong> 13 Shifu lu, Shanghai</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ORGANIZATIONS -->
<div class="title-divider text-center">
  <h2>ORGANIZATIONS</h2>
</div>
<div class="container">
  <div class="row">
    <% @organizations.each do |organization| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="organization-card">
        <% if organization.photo %>
          <img src="<%= cl_image_path organization.photo.path, height: 180, width: 350, crop: :fill%>", class='organization-card-img' >
        <% else %>
          <%= image_tag "card_org_ngo_default.jpg", class: "organization-card-img" %>
        <% end %>
        <div class="organization-card-description">
          <p id="organization-name"><strong><%= organization.name %></strong></p>
          <p id="organization-problem"><%= organization.problem%></p>
          <p id="organization-category">Category</p>
        </div>
        <div class="organization-card-icons">
          <i class="fa fa-thumbs-up organization-card-icon"></i>
          <span class="organization-card-icon-text"><%= organization.votes_for.size %></span>
        </div>
        <%= link_to "", organization_path(organization), class: "organization-card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
<!-- FEATURES -->
<div class="title-divider text-center" id="features-img">
  <h2>HOW FEIY WORKS</h2>
  <div class="wrapper" >
    <%= image_tag "home_features.jpg" %>
  </div>
</div>

<!-- Bottomer Wrapper -->
<div class="wrapper" id="call-to-action-wrapper">
  <%= link_to "JOIN US NOW!", new_organization_path, class: "btn-feiy-white" %>
</div>
