<% title "Good Jobs" %>
<% description "You want to start a meaningful career and be the change? Look for a job with impact on Feiy. Need to find passionate and changemakers employees ? Post your offer on Feiy to get in touch with people that want to change the world." %>

<div class="wrapper-white">
  <div class="container-demo-title">
    <h1 class="text-center">Good Jobs</h1>
    <h5 class="text-center"><%= pluralize(@jobs.count, "Job") %></h5>
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="text-center">
        Sort by:
        <%= f.select(
          :with_job_type,
          @filterrific.select_options[:job_types],
          { include_blank: '- All categories -' },
          class: 'text-search-field'
        ) %>
        <%= f.select(
          :with_job_address,
          @filterrific.select_options[:job_addresses],
          { include_blank: '- All Locations -' },
          class: 'text-search-field'
        ) %>
      </div>
    <% end %>
  </div>
  <div class="container">
    <div class="row">
      <%= render(
        partial: 'pages/jobs_list',
        locals: { jobs: @jobs }
      ) %>
    </div>
  </div>
</div>
