<div class="wrapper-white">
  <div class="container-demo-title">
    <h1 class="text-center">Good Jobs</h1>
    <h5 class="text-center"><%= pluralize(@jobs.count, "Job") %></h5>
  </div>
  <div class="container">
    <div class="row">
      <% @jobs.each do |job| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="job-card">
        <% if job.organization.logo %>
          <img src="<%= cl_image_path job.organization.logo.path, height: 180, width: 350, crop: :fill%>", class='job-card-img' >
        <% else %>
          <%= image_tag "card_org_ngo_default.jpg", class: "job-card-img" %>
        <% end %>
        <div class="job-card-description">
          <p id="job-name"><strong><%= truncate(job.name, length: 20) %></strong></p>
          <p id="job-problem">Posted by: <%= truncate(job.organization.name, length: 20) %></p>
          <p id="job-problem"><%= truncate(job.job_type, length: 20) %></p>
          <p id="job-category"><%= truncate(job.address, length: 20) %></p>
        </div>
         <%= link_to "", organization_job_path(job.organization_id, job.id) , class: "organization-card-link" %>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<br>




