

<%= form_for(current_user) do |f| %>
  <div class="form-inputs">
    <%= f.hidden_field :name %>
    <%= f.hidden_field :email %>
    <%= f.text_area :body %>
  <div class="form-actions">
    <%= f.button :submit, "Create organization", class: "btn-feiy-primary" %>
  </div>
<% end %>
</div>
