<%= simple_form_for(@organization) do |f| %>
  <div class="form-inputs">
    <%= f.input :logo, as: :attachinary %>
    <%= f.input :name %>
    <%= f.input :photo, label: "Background image", as: :attachinary %>
    <%= f.input :problem, label: "Cause" %>
    <%= f.input :address, label: "Location" %>
    <%= f.input :description, as: :text, :input_html => {:rows => 10}  %>
    <%= f.input :email, label: "E-mail" %>
    <%= f.input :website %>
    <%= f.input :category, collection: ["Education", "Fashion", "Food", "Waste", "Health", "Environment", "Inclusion", "Community"] %>
  </div>
    <%= f.input :user_is_a_representative, inline_label: 'I am a representative of this organization', error: 'Only representatives can add organizations', error_html: { id: 'representative_error'}   %>
  <div class="form-actions">
    <%= f.button :submit, "Submit", class: "btn-feiy-primary" %>
  </div>
<% end %>
