<%= simple_form_for(@organization) do |f| %>
  <div class="form-inputs">
    <%= f.input :logo, as: :attachinary %>
    <%= f.input :name %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.input :problem %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :website %>
    <%= f.select :categories, @categories, :selected => @current_category%>
  </div>
    <%= f.input :user_is_a_representative, inline_label: 'I am a representative of this organization', error: 'Only representatives can add organizations', error_html: { id: 'representative_error'}   %>
  <div class="form-actions">
    <%= f.button :submit, "Submit", class: "btn-feiy-primary" %>
  </div>
<% end %>
