<div class="form-container">
<h2>Update your organization:</h2>
<%= simple_form_for(@organization) do |f| %>
  <div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :problem %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :website %>
  <%= f.input :email %>
  <%= f.input :photo, as: :attachinary %>
  <%= f.input :logo, as: :attachinary %>
  <%= f.select :category_ids, Category.all.collect {|x| [x.name, x.id]}, :multiple => true %>
  </div>
  <%= f.input :user_is_a_representative, inline_label: 'I am a representative of this organization', error: 'Only representatives can add organizations', error_html: { id: 'representative_error'}   %>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
