<h1>Organizations#new</h1>
<p>Find me in app/views/organizations/new.html.erb</p>

<%= simple_form_for(@organization) do |f| %>
  <%= f.input :name %>
  <%= f.input :problem %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :website %>
  <%= f.input :photo, as: :attachinary %>
  <%= f.submit %>
<% end %>
