
<div class="form-container">
<h2>Add a organization</h2>
<%= simple_form_for(@organization) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :problem %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :website %>
    <%= f.input :photos, as: :attachinary %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Create organization", class: "btn-feiy-primary" %>
  </div>
<% end %>
</div>
