<div class="wrapper index-search-wrapper">
  <div class="index-search-header">
    <div class="index-search-header-welcome text-center">
      <h1>Discover the community <br>of high-impact initiatives <br>in China</h1>
    </div>
  </div>
  <!-- Search bar -->
  <div  class="results-search" >
    <%= render 'search_bar'%>
  </div>
</div>


<!-- ORGANIZATIONS SEARCH RESULTS -->
<div class="text-center results-message">
<% unless @organizations.present? %>
  <h4>We haven't found any organization matching your search! Please try again!</h4>
<% end %>
</div>
<div class="container">
  <div class="row">
    <% @organizations.each do |organization| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="organization-card">
        <% if organization.photo %>
          <img src="<%= cl_image_path organization.photo.path, height: 180, width: 350, crop: :fill%>", class='organization-card-img' >
        <% else %>
          <%= image_tag "card_org_ngo_default.jpg", class: "organization-card-img" %>
        <% end %>
        <div class="organization-card-description">
          <% if organization.category %>
            <p id="organization-category"><%= organization.category %></p>
          <% end %>
          <p id="organization-name"><strong><%= organization.name %></strong></p>
          <p id="organization-problem"><%= truncate(organization.problem) %></p>
        </div>
        <div class="organization-card-icons">
          <i class="fa fa-heart organization-card-icon"></i>
          <span class="organization-card-icon-text"><%= organization.votes_for.size %></span>
        </div>
        <%= link_to "", organization_path(organization), class: "organization-card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>



