<!-- SEARCH -->
<div class="search-wrapper">
  <p>Find an organization</p>
  <%= form_tag organizations_search_path, method: :get do |f| %>
    <%= text_field_tag 'name', params[:name], placeholder: "  Search", class: "text-search-field" %>
    <%= select_tag 'category', options_for_select(@categories_all), class: "text-search-dropdown" %>
    <%= submit_tag 'Search', class: "btn-feiy-rec-white"%>
  <% end %>
</div>
<!-- ORGANIZATIONS SEARCH RESULTS -->

<% unless @organizations %>
  <p>We haven't found any organization matching your search! Please try again!</p>
<% end %>


<div class="text-center">
  <h4>Displaying search results for: <%= @category_params %> and: <%= @name_params %></h4>
</div>
<div class="container">
  <div class="row">
    <% @organizations.each do |organization| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="organization-card">
        <% if organization.photo %>
          <img src="<%= cl_image_path organization.photo.path, height: 180, width: 350, crop: :fill%>", class='organization-card-img' >
        <% else %>
          <%= image_tag "card_org_ngo_default.jpg", class: "organization-card-img" %>
        <% end %>
        <div class="organization-card-description">
          <% if organization.categories.any? %>
            <p id="organization-category"><%= organization.categories.first.name.upcase %></p>
          <% end %>
          <p id="organization-name"><strong><%= organization.name %></strong></p>
          <p id="organization-problem"><%= truncate(organization.problem) %></p>
        </div>
        <div class="organization-card-icons">
          <i class="fa fa-thumbs-up organization-card-icon"></i>
          <span class="organization-card-icon-text"><%= organization.votes_for.size %></span>
        </div>
        <%= link_to "", organization_path(organization), class: "organization-card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>



