<h1>organization show page</h1>
<br>
<h2><%= @organization.name %></h2>
<p><%= @organization.problem %></p>
<p><%= @organization.description %></p>
<p><%= @organization.website %></p>
<br>
<% if @organization.user_id == current_user.id %>
  <%= link_to "Delete", organizations_path(@organization), method: :delete %>
<% end %>
