<div class="wrapper" id="organization-banner">
<% if @organization.photo %>
    <%= cl_image_tag @organization.photo.path, crop: :fill %>
<% end %>
</div>

<div class="title-divider text-center">
  <% if @organization.logo? %>
    <%= cl_image_tag @organization.logo.path, width: 100, height: 100, crop: :fill %>
  <% end %>
  <h1><%= @organization.name.capitalize %></h1>
</div>

<div class="container text-center" id="organization-information">
  <h4><strong>Who were are?</strong></h4>
  <p><%= @organization.description %></p>
  <h4><strong>What problem we solve?</strong></h4>
  <p><%= @organization.problem %></p>
  <h4><strong>Where we are?</strong></h4>
  <p><%= @organization.address %></p>
  <h4><strong>What to contact us?</strong></h4>
  <p><%= @organization.website %></p>
</div>

<% if user_signed_in? && @organization.user_id == current_user.id %>
  <div class="container text-center">
    <%= link_to "Delete", organization_path(@organization), method: :delete, class: 'btn btn-danger' %>
    <%= link_to "Update", edit_organization_path(@organization), method: :get, class: 'btn btn-warning'  %>
  </div>
<% else %>
  <!-- like function -->
  <div class="action-like text-center">
    <%= link_to like_organization_path(@organization), method: :post do %>
      <i class="fa fa-thumbs-up"></i>
    <% end %><br>
    <%= @organization.votes_for.size %> Likes
  </div>
<% end %>
<!-- Hardcoded Events Section -->
<div class="title-divider text-center">
  <h2><%= @organization.name.capitalize %> events</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="events-card text-center">
        <%= link_to "", event_show_path, class: "card-link" %>
        <%= image_tag "card_picture1_ok.jpg", class: "event-card-img" %>
        <div class="event-card-text">
          <h3><strong>Clothes Donation</strong></h3>
          <h5><%= @organization.name.capitalize %></h3>
          <p>Donate clothes to people in need</p>
          <p><strong>Date:</strong> 25/04/2017</p>
          <p><strong>Location:</strong> 32 Nanjing Xi Lu, Shanghai</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="events-card text-center">
        <%= link_to "", event_show_path, class: "card-link" %>
        <%= image_tag "card_picture2_ok.jpg", class: "event-card-img" %>
        <div class="event-card-text">
          <h3><strong>Benefic Rock Festival</strong></h3>
          <h5><%= @organization.name.capitalize %></h3>
          <p>Help raise money for a good cause</p>
          <p><strong>Date:</strong> 30/04/2017</p>
          <p><strong>Location:</strong> 323 Wulumuqi Lu, Shanghai</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="events-card text-center">
        <%= link_to "", event_show_path, class: "card-link" %>
        <%= image_tag "card_picture3_ok.jpg", class: "event-card-img" %>
        <div class="event-card-text">
          <h3><strong>Clothes Donation</strong></h3>
          <h5><%= @organization.name.capitalize %></h3>
          <p>Visit kids in the shanghai hospital</p>
          <p><strong>Date:</strong> 14/05/2017</p>
          <p><strong>Location:</strong> 13 Shifu lu, Shanghai</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Jobs Section -->
<div class="title-divider text-center">
  <h2>JOBS</h2>
</div>
<div class="container">
  <div class="row">
    <% @organization.jobs.each do |job| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="organization-card">
        <div class="organization-card-description">
          <p id="organization-name"><strong><%= job.name %></strong></p>
          <p id="organization-problem"><%= job.job_type%></p>
          <p id="organization-category"><%= job.address %></p>
        </div>
        <%= link_to "", organization_job_path(job.organization_id, job.id), class: "organization-card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>

<div class="title-divider text-center">
  <h2>Comments</h2>
</div>

<!-- comment function -->
<div class="comment-section text-center">
  <%= form_tag create_comment_path, method: "post" do %>
    <%= hidden_field_tag "id", @organization.id %>
      <%= text_area_tag :comment %>
      <div class="comment-btn">
        <%= submit_tag "Submit", class: "btn btn-success" %>
      </div>
    <% end %>
</div>
<div class="comment-list text-center">
  <% @organization.comments.each do |comment| %>
    <div class="comment-card">
      <div class="comment-card-user-info">
        <% if comment.user.avatar? %>
          <%= cl_image_tag comment.user.avatar.path, width: 50, height: 50, crop: :fill, gravity: :face %>
        <% else %>
          <%= image_tag "profile_placeholder.png" %>
        <% end %>
        <% if comment.user.name? %>
          <%= comment.user.name %>
        <% else %>
          <p>Anonimous</p>
        <% end %>
      </div>
      <div class="comment-card-text">
        <%= comment.comment %>
      </div>
    </div>
  <% end %>
</div>
