<h1>organization show page</h1>
<br>
<h2><%= @organization.name %></h2>
<p><%= @organization.problem %></p>
<p><%= @organization.description %></p>
<p><%= @organization.address %></p>
<p><%= @organization.website %></p>
<br>

<% if @organization.user_id == current_user.id %>
  <%= link_to "Delete", organization_path(@organization), method: :delete %>
  <%= link_to "Update", organization_path(@organization), method: :patch %>
<% end %>
