<h1>organization show page</h1>
<br>
<h2><%= @organization.name %></h2>
<p><%= @organization.problem %></p>
<p><%= @organization.description %></p>
<p><%= @organization.address %></p>
<p><%= @organization.website %></p>
<% if @organization.photos? %>
  <% @organization.photos.each do |photo| %>
    <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
  <% end %>
<% end %>

<div class="title-divider text-center">
  <h2><%= @organization.name.capitalize %> events</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="events-card text-center">
        <%= image_tag "card_picture1_ok.jpg", class: "event-card-img" %>
        <div class="event-card-text">
          <h3><strong>Clothes Donation</strong></h3>
          <h5><%= @organization.name.capitalize %></h3>
          <p>Donate clothes to people in need</p>
          <p><strong>Date:</strong> 25/04/2017</p>
          <p><strong>Location:</strong> 32 Nanjing Xi Lu, Shanghai</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="events-card text-center">
        <%= image_tag "card_picture2_ok.jpg", class: "event-card-img" %>
        <div class="event-card-text">
          <h3><strong>Benefic Rock Festival</strong></h3>
          <h5><%= @organization.name.capitalize %></h3>
          <p>Help raise money for a good cause</p>
          <p><strong>Date:</strong> 30/04/2017</p>
          <p><strong>Location:</strong> 323 Wulumuqi Lu, Shanghai</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="events-card text-center">
        <%= image_tag "card_picture3_ok.jpg", class: "event-card-img" %>
        <div class="event-card-text">
          <h3><strong>Clothes Donation</strong></h3>
          <h5><%= @organization.name.capitalize %></h3>
          <p>Visit kids in the shanghai hospital</p>
          <p><strong>Date:</strong> 14/05/2017</p>
          <p><strong>Location:</strong> 13 Shifu lu, Shanghai</p>
        </div>
      </div>
    </div>
  </div>
</div>



<% if user_signed_in? && @organization.user_id == current_user.id %>
  <%= link_to "Delete", organization_path(@organization), method: :delete %>
  <%= link_to "Update", organization_path(@organization), method: :patch %>
<% end %>

<!-- like function -->
<div class="action-like">
<%= link_to like_organization_path(@organization), method: :post do %>
  <i class="fa fa-thumbs-up"></i>
<% end %>
<%= @organization.votes_for.size %> Likes
</div>


<!-- comment function -->
<%= form_tag "/organizations/add_new_comment" do %>
  <%= hidden_field_tag "id", @organization.id %>
  <%= text_area_tag "comment[comment]" %>
  <%= submit_tag "Post Comment" %>
<% end %>
<div class="comment_list">
  <% @organization.comments.each do |comment| %>
    <%= comment %> <br>
      <%= comment.user.name %> <br>
      <br>
  <% end %>
</div>
