<div class="org-show-banner">

  <div class="org-show-banner-content">
  <% if @organization.logo? %>
    <%= cl_image_tag @organization.logo.path, width: 100, height: 100, crop: :fill, id: "org-show-banner-logo" %>
  <% end %>
  <% if @organization.category %>
    <p id="organization-category"><%= @organization.category %></p>
  <% end %>
  <h1 id="org-show-banner-name"><%= @organization.name.capitalize %></h1>
  </div>
</div>

<!-- like partial -->
<%= render 'shared/org_likes' %>

<div class="container text-center" id="organization-information">
  <h4><strong>Who were are?</strong></h4>
  <p><%= @organization.description %></p>
  <h4><strong>What problem we solve?</strong></h4>
  <p><%= @organization.problem %></p>
  <h4><strong>Where we are?</strong></h4>
  <p><%= @organization.address %></p>
  <h4><strong>What to contact us?</strong></h4>
  <%= link_to "Send a message", organization_organization_contact_path(@organization), class: "btn btn-success"   %>
</div>

<!-- Edit function -->
<% if user_signed_in? && @organization.user_id == current_user.id %>
  <div class="container text-center">
    <%= link_to "Delete", organization_path(@organization), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
    <%= link_to "Update", edit_organization_path(@organization), method: :get, class: 'btn btn-warning'  %>
  </div>
<% end %>
<!-- comment function -->
<div class="text-center">
  <h3>Comments</h3>
</div>
<div class="comment-section text-center">
  <%= form_tag create_comment_path, method: "post" do %>
  <%= hidden_field_tag "id", @organization.id %>
  <%= text_area_tag :comment %>
  <div class="comment-btn">
    <%= submit_tag "Submit", class: "btn btn-success" %>
  </div>
  <% end %>
</div>
<div class="comment-list text-center">
  <% @organization.comments.each do |comment| %>
    <div class="comment-card">
      <div class="comment-card-user-info">
        <% if comment.user.avatar? %>
          <%= cl_image_tag comment.user.avatar.path, height: 50, width: 50, crop: :thumb, gravity: :face, dpr: 2.0, class: "avatar-style" %>
        <% else %>
          <%= image_tag "profile_placeholder.png" %>
        <% end %>
        <% if comment.user.name? %>
          <%= comment.user.name %>
        <% else %>
          <p>Anonimous</p>
        <% end %>
      </div>
      <div class="comment-card-text">
        <%= comment.comment %>
      </div>
    </div>
  <% end %>
</div>
<!-- Jobs Section -->
<div class="text-center">
  <h3>Add a job offer</h3>
  <% if user_signed_in? && @organization.user_id == current_user.id %>
  <div class="container text-center">
    <%= link_to "Add a job", new_organization_job_path(@organization), method: :get, class: 'btn btn-warning'  %>
  </div>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <% @organization.jobs.each do |job| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="job-card">
        <div class="job-logo"></div>
        <div class="job-card-description">
        <p id="job-name"><strong><%= job.organization.name %></strong></p>
          <p id="job-name"><%= job.name %></p>
          <p id="job-type"><%= job.job_type%></p>
          <p id="job-address"><%= job.address %></p>
        </div>
        <%= link_to "", organization_job_path(job.organization_id, job.id), class: "organization-card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- Hardcoded Events Section -->
<div class="text-center">
  <h2><%= @organization.name.capitalize %> events</h2>
    <% if user_signed_in? && @organization.user_id == current_user.id %>
  <div class="container text-center">
    <%= link_to "Add a event", new_organization_event_path(@organization), method: :get, class: 'btn btn-warning'  %>
  </div>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="job-card">
        <div class="job-logo"></div>
        <div class="job-card-description">
          <p id="job-name"><strong><%= event.name %></strong></p>
          <p id="job-name">Hosted by <%= event.organization.name %></p>
          <p id="job-type"><%= truncate(event.content)%></p>
          <p id="job-address"><%= event.date.strftime("%B %e, %Y, %l:%M %p ") %></p>
        </div>
        <%= link_to "", organization_event_path(event.organization_id, event.id), class: "organization-card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- OTHER ORGANIZATIONS -->
<div class="text-center">
  <h2>Organizations you may like</h2>
</div>
<div class="container">
  <div class="row">
    <% if @suggested_organizations_shuffled != nil %>
      <% @suggested_organizations_shuffled.each do |organization| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="organization-card">
          <% if organization.photo %>
            <img src="<%= cl_image_path organization.photo.path, height: 180, width: 350, crop: :fill%>", class='organization-card-img' >
          <% else %>
            <%= image_tag "card_org_ngo_default.jpg", class: "organization-card-img" %>
          <% end %>
          <div class="organization-card-description">
            <p id="organization-name"><strong><%= organization.name %></strong></p>
            <p id="organization-problem"><%= organization.problem%></p>
            <% if organization.category %>
              <p id="organization-category"><%= organization.category %></p>
            <% end %>
          </div>
          <div class="organization-card-icons">
            <i class="fa fa-thumbs-up organization-card-icon"></i>
            <span class="organization-card-icon-text"><%= organization.votes_for.size %></span>
          </div>
          <%= link_to "", organization_path(organization), class: "organization-card-link" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Followers -->
<div class="text-center">
  <h3><%= @organization.name %> has <%= @organization.votes_for.count %> followers</h3>
</div>
<div class="container">
  <div class="row" style="margin-top: 20px;">
    <% @organization.votes_for.each do |follower| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="follower-card">
          <div class="follower-card-avatar">
            <% if follower.voter.avatar? %>
              <%= cl_image_tag vote.voter.avatar.path, height: 50, width: 50, crop: :fill, gravity: :face, radius: :max, class: "avatar-style" %>
            <% else %>
              <%= image_tag "profile_placeholder.png", style: "width: 50px" %>
            <% end %>
          </div>
          <div class="follower-card-info">
            <p class="comment-email"><strong><%= follower.voter.name %></strong></p>
            <p class="comment-date"><%= follower.voter.created_at.strftime("%B %d, %Y") %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


